

<div class="card">
<% @todos.each do |todo| %>
  <div class="card-body">
    <%= todo.description %>
    <%= todo.completed ? 'Completed' : 'No Comppleted' %>
    <br>
    <%= link_to  "Create To do", todos_new_path, class: 'btn btn-info' %>
    <%= link_to  "Show To Do", show_todo_path(todo), class: 'btn btn-info' %>
    <%= link_to  "Edit", edit_todo_path(todo), class: 'btn btn-info' %>
    <%= link_to  "Delete", delete_todo_path(todo), class: 'btn btn-info', method: :delete, data: {confirm: 'Are you sure?'} %>
  </div>
  <% end %>
</div>

